/*TODO: FONTS AND TRANSITION ANIMATIONS*/
/* GLOBAL STYLES */
@import url("https://fonts.googleapis.com/css?family=Courgette");
/* LAPTOP STYLES */
@media only screen and (min-width: 1024px) {
  body {
    font-family: courgette;
    background-color: #fcf9d4; }
    body * {
      border: 1px solid rgba(255, 255, 255, 0);
      border: 1px solid red; }
  /* HEADER */
  .logo {
    display: block;
    position: relative; }
    .logo img {
      display: block;
      margin: auto;
      width: 400px; }
  .top-nav {
    height: 120px;
    position: relative; }
    .top-nav img {
      visibility: hidden; }
    .top-nav img:first-child {
      visibility: visible;
      display: block;
      width: 600px;
      position: relative;
      margin: auto; }
    .top-nav .links {
      position: relative;
      text-align: center;
      top: -550px; }
      .top-nav .links a {
        text-shadow: -2px 2px black;
        text-decoration: none;
        padding: 10px 20px 0 20px;
        color: white;
        font-size: 180%;
        letter-spacing: -2px; }
  /* LOLLIPOP SIDEBAR STYLES */
  .side-nav {
    position: relative; }
    .side-nav .tree {
      left: -3px;
      position: absolute;
      width: 230px; }
    .side-nav [class*="lolli"] {
      position: absolute;
      width: 120px;
      color: brown; }
    .side-nav .lolli-right {
      transform: rotate(45deg);
      left: 89px; }
    .side-nav .lolli-left {
      transform: rotate(-45deg); }
    .side-nav .lolli-1 {
      top: 20px; }
    .side-nav .lolli-1-text {
      top: 110px;
      left: 157px; }
    .side-nav .lolli-2 {
      top: 90px; }
    .side-nav .lolli-2-text {
      top: 180px;
      left: -5px; }
    .side-nav .lolli-3 {
      top: 160px; }
    .side-nav .lolli-3-text {
      top: 250px;
      left: 155px; }
    .side-nav .lolli-4 {
      top: 230px; }
    .side-nav .lolli-4-text {
      top: 320px;
      left: -10px; }
    .side-nav .lolli-5 {
      top: 300px; }
    .side-nav .lolli-5-text {
      top: 390px;
      left: 147px; }
  /*MAIN CONTENT STYLES */
  .main-content {
    padding: 0 20px;
    color: brown;
    font-size: 20px;
    text-align: justify;
    padding-top: 30px; }
  .right-bar {
    padding-top: 30px; }
    .right-bar img {
      border: 10px solid brown;
      border-radius: 20px;
      display: block;
      margin: 15px auto;
      width: 170px; }
  /* FOOTER STYLES */
  .footer {
    text-align: center; } }
